<div class="row justify-content-center">
  <div class="col-9">
    <div class="h1-label" >
        <h1>Welcome to the Finance Tracker app</h1>
    </div>
    <p>Track your investments, manage your portfolio, and connect with friends who share your financial interests. Finance Tracker is your all-in-one solution for staying on top of your finances</p>
    <%= image_tag 'example.png', alt: 'Example Image', class: 'img-fluid', id: 'image-1' %>

    <h2>Key Features</h2>
    <ul>
    <li>Monitor your stock investments in real-time</li>
    <li>Discover new investment opportunities</li>
    <li>Connect with friends and share your investment strategies</li>
    <li>Stay informed with financial news and updates</li>
    <li>Track your portfolio's performance over time</li>
    </ul>
</div>
</div>

